<app-header [title]="'Personnes détectés'"> </app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid >
    <ion-row id="zone1" class="zone" *ngIf="grid && faces; else list">

      <ion-chip *ngIf="!faces.length" color="warning">
        <ion-label color="dark">Pas de nouvelles pour le moment</ion-label>
      </ion-chip>

      <ion-col class="ion-activatable" size-sm="6" size-lg="2" size-md="3" *ngFor="let face of faces ; first as isFirst">
        <ion-card (click)="selectCard($event, face.id)"
                  [ngClass]="{'select-card':selectedElements.includes(face.id)}">
          <ion-item [ngClass]="{'select-card':selectedElements.includes(face.id),
          'ion-no-margin':true}">
            <small><ion-icon size="small" slot="start" name="calendar"></ion-icon>{{face.created_at| date: 'yy/MM/dd HH:mm:ss'}}</small>
            <ion-button (click)="presentPopover($event, face.id)" size="small" slot="end" fill="clear">
            <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-card-content>

          </ion-card-content>
          <ion-img [src]="face.image"></ion-img>
          <ion-card-header>
            <ion-card-title>{{face.label.name}}
              <ion-icon [color]="face.instate?'tertiary':'danger'" [name]="face.instate?'log-in':'log-out'"></ion-icon>
            </ion-card-title>
              <ion-card-subtitle>
                  {{face.precision}}
              </ion-card-subtitle>
          </ion-card-header>

        </ion-card>
      </ion-col>
    </ion-row>

    <ng-template #list>
      <ion-list *ngIf="faces">
        <ion-list-header color="primary">
          <!--        <ion-avatar></ion-avatar>-->
          <ion-label>
            Personne
          </ion-label>
          Date
          <ion-label>

          </ion-label>
          <ion-label>
            Etat
          </ion-label>
        </ion-list-header>
        <ion-item *ngFor="let face of faces">
          <ion-avatar>
            <ion-img [src]="face.image"></ion-img>
          </ion-avatar>
          <ion-label>
            {{face.label.name}}
          </ion-label>

          <ion-label>
            <small><ion-icon size="small" slot="start" name="calendar"></ion-icon>{{face.created_at| date: 'yy/MM/dd HH:mm:ss'}}</small>
          </ion-label>

          <ion-chip [color]="face.instate?'success':'secondary'">
            <ion-label> {{face.instate?'Entrée':'Sortie'}}</ion-label>
          </ion-chip>
        </ion-item>

      </ion-list>
    </ng-template>

    <ion-row class="ion-align-items-center ion-justify-content-center ion-text-center">
      <ion-col class="ion-align-self-center ">
        <div>
    <app-pagination *ngIf="numberpages" [pageSize]="numberpages"
                    (pageChanged)="OnPageChanged($event)" >
    </app-pagination>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer >
  <ion-toolbar>
    <ion-buttons *ngIf="this.selectedElements.length; else default" class="ion-align-items-center ion-justify-content-center ion-align-self-center">
      <ion-button (click)="selectAll()">
          <ion-icon name="arrow-redo-circle"></ion-icon>
          &nbsp;Sélectionner tout
      </ion-button>
      <ion-button (click)="presentModal(selectedElements)">
          <ion-icon name="arrow-redo-circle"></ion-icon>
          &nbsp;Déplacer
      </ion-button>
      <ion-button (click)="deleteSelected()">
          <ion-icon name="trash"></ion-icon>
          &nbsp;Supprimer
      </ion-button>
      <ion-button (click)="selectedElements=[]">
          <ion-icon name="return-up-back"></ion-icon>
          &nbsp;Annuler
      </ion-button>
<!--      <ion-button color="secondary">-->
<!--        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical">-->
<!--        </ion-icon>-->
<!--      </ion-button>-->

    </ion-buttons>
    <ng-template #default>
      <ion-buttons class="ion-align-items-center ion-justify-content-center ion-align-self-center">
        <ion-searchbar #searchbar animated showCancelButton="focus" style="flex-basis: 30%"
                       (change)="search(searchbar.value)"
                       (ionCancel)="cancelSearch()">

        </ion-searchbar>
        <ion-button (click)="doRefresh($event)">
          <div>
            <ion-icon name="refresh-circle"></ion-icon>
            <label><small>rafraîchir</small></label>
          </div>
        </ion-button>
        <ion-button (click)="presentFilterModal()">
          <div>
            <ion-icon name="filter"></ion-icon>
            <label><small>Filtrer</small></label>
          </div>
        </ion-button>
        <ion-button (click)="presentTri()">
          <div>
            <ion-icon name="funnel"></ion-icon>
            <label><small>Trier</small></label>
          </div>
        </ion-button>
        <ion-button (click)="presentModeView($event)">
          <div>
            <ion-icon name="grid"></ion-icon>
            <label><small>View</small></label>
          </div>
        </ion-button>
        <ion-button (click)="presentOtherOptions($event)" color="secondary">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical">
          </ion-icon>
        </ion-button>

      </ion-buttons>
    </ng-template>

  </ion-toolbar>
</ion-footer>
