<ion-header translucent>
  <ion-toolbar>
    <ion-title>Filtrer</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="f.ngSubmit.emit()">Appliquer</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="dismiss()">Annuler</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid style="height: 100%">
    <ion-row class="ion-align-items-center"
             style="height:100%; flex-direction: column">
      <ion-col size-md="12" size-lg="6">
        <ng-form id="ngForm" #f="ngForm" (ngSubmit)="submit(f.value)">

          <ion-list>
            <ion-radio-group name="date" ngModel="today">
              <ion-list-header>
                <ion-label style="font-weight: bold;">
                  Choix automatique
                </ion-label>
              </ion-list-header>
              <div class="ion-margin-horizontal">
              <ion-item>
                <ion-label>Aujourd'hui</ion-label>
                <ion-radio value="today"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>Semaine</ion-label>
                <ion-radio value="week"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>Mois</ion-label>
                <ion-radio value="month"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>Année</ion-label>
                <ion-radio value="year"></ion-radio>
              </ion-item>
              </div>

            </ion-radio-group>
          </ion-list>

          <ion-list>
            <ion-list-header>
              <ion-label style="font-weight: bold;">Choix manuelle</ion-label>
            </ion-list-header>
            <div class="ion-margin-horizontal">
              <ion-item>
                <ion-label>Date début</ion-label>
                <ion-datetime name="date1" [ngModel]="" displayFormat="D MMM YYYY H:mm" placeholder="Sélectionner"></ion-datetime>
              </ion-item>
              <ion-item>
                <ion-label>Date fin</ion-label>
                <ion-datetime name="date2" [ngModel]="" displayFormat="D MMM YYYY H:mm" placeholder="Sélectionner"></ion-datetime>
              </ion-item>
            </div>
          </ion-list>
        </ng-form>
      </ion-col>

    </ion-row>

  </ion-grid>
  <!--  <ion-list>-->
  <!--    -->
  <!--    -->
  <!--  </ion-list>-->
</ion-content>


