<app-header [title]="'Dataset | '+person"> </app-header>

<ion-content>
  <!-- Default Segment -->
  <ion-segment #segment (ionChange)="segmentChanged($event)" value="Train">
    <ion-segment-button value="Train">
      <ion-label>Entrainement
        <ion-badge color="primary">{{train?train.length:0}}</ion-badge>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="Test">
      <ion-label>Teste
        <ion-badge color="medium">{{test?test.length:0}}</ion-badge>
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="dataset">
    <ion-grid>
      <ion-row class="ion-align-items-center ion-justify-content-center ion-align-self-center">
        <ion-col class="ion-activatable" size-sm="6" size-lg="2" size-md="3" *ngFor="let face of (dataset)">
          <ion-card (click)="selectCard($event, face.id)"
                    [ngClass]="{'select-card':selectedElements.includes(face.id)}">
            <ion-item [ngClass]="{'select-card':selectedElements.includes(face.id),
          'ion-no-margin':true}">

              <small><ion-icon size="small" slot="start" name="calendar"></ion-icon>{{face.created_at| date: 'yy/MM/dd HH:mm:ss'}}</small>
              <ion-button (click)="presentPopover($event, face.id)" size="small" slot="end" fill="clear">
                <ion-icon name="ellipsis-vertical"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content>


            </ion-card-content>
            <ion-img [src]="face.image"></ion-img>

          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-fab *ngIf="segment.value=='Train';else test" vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button (click)="addTrain('Train')">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ng-template #test>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addTrain('Test')" color="success">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ng-template>
  </div>

</ion-content>

<ion-footer [ngStyle]="footerStyle()">
  <ion-toolbar>
    <ion-buttons class="ion-align-items-center ion-justify-content-center ion-align-self-center">
      <ion-button (click)="move(selectedElements)">
        <ion-icon name="arrow-redo-circle"></ion-icon>
        &nbsp;{{getDataset()}}
      </ion-button>
      <ion-button (click)="deleteSelected()">
        <ion-icon name="trash"></ion-icon>
        &nbsp;Supprimer
      </ion-button>
      <ion-button (click)="selectedElements=[]">
        <ion-icon name="return-up-back"></ion-icon>
        &nbsp;Annuler
      </ion-button>
      <!--      <ion-button color="secondary">-->
      <!--        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical">-->
      <!--        </ion-icon>-->
      <!--      </ion-button>-->

    </ion-buttons>


  </ion-toolbar>
</ion-footer>
